<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campos.david.appointments">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrghVWX-3y6kVQI4A4mEyhigHoDBJVvOA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".model.ContentProvider"
            android:authorities="com.campos.david.appointments.provider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/LoginScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activityMain.MainActivity" />
        <activity
            android:name=".activityAppointment.AppointmentActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activityMain.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activityMain.MainActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".activityNewAppointment.NewAppointmentActivity" />

        <service
            android:name=".services.UpdateUsersService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.UpdateTypesAndReasonsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.CreateAppointmentService"
            android:exported="false" />
        <service
            android:name=".services.UpdateAppointmentsService"
            android:exported="false" />

        <activity android:name=".activitySettings.SettingsActivity" />

        <service
            android:name=".services.AppointmentDiscussionService"
            android:exported="false" />
        <service
            android:name=".services.ProfileTasksService"
            android:exported="false"></service>
    </application>

</manifest>